<p>Welcome to Meme dream, a photo site where users can add and tag memes</p>
<form action="/upload">
    <a href="/upload" class="waves-effect waves-light btn-large">Upload</a>
    <a href="/login" class="waves-effect waves-light btn-large">Login</a>
    <a href="/register" class="waves-effect waves-light btn-large">Register</a>
</form>
