<!DOCTYPE html>
<html>
  <head>
    <title>Meme Dream</title>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <meta property='og:title' content="Meme Dream"/>
    <meta property='og:description' content="A meme visualization and image upload site. "/>

    <link rel="stylesheet" href="/style.css" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
      {{#if user}}
      <!-- Dropdown Structure -->
      <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Meme Dream</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/upload" class="waves-effect waves-light btn">Upload</a></li>
          <li><a href="/users/{{user.username}}">Logged in as {{user.username}}</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    {{else}}
    <h1> <a href="/">Meme dream</a> </h1>
    {{/if}}

    <div class="container">
    {{{body}}}
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
    <script src="/build.js" type="text/javascript"></script>
</body>
</html>
