<form action="" method="post" enctype="multipart/form-data">
    <!-- possible dropzone js?  -->
    <input type="file" name="pic" value="">
    <!-- name has to match multer name -->
    <input type="submit" name="" value="Upload photo">
</form>
